*{ box-sizing: border-box; 
}
body{
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #fff;
    color: #222;
    
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.header{
    background: #ffffff;
    border-bottom: 1px solid #579194;
    padding: 14px 0;
    box-shadow: 0px 2px 6px rgba(154, 255, 255, 0.4);
    position: fixed;
    top: 0;          
    left: 0;
    width: 100%; 
    z-index: 1000;
}
.header-inner{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    
}
.logo{
    display:flex;
    align-items:center;
    gap:8px;
    font-weight:700;
    color:#007c9e;
    
}
.main-nav a{
    margin-left:16px;
    text-decoration:none;
    color:#333;
    font-size:14px;
}
.header-icons span{ 
    margin-left:10px; 
    cursor:pointer;
   

 }
 .bg{
    background: linear-gradient(#ffffff, #fbfbfb);
    padding: 40px 0 80px 0;
    background-image: url("bg.png")  ;
    height: 700px;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}
.bg-inner{
    display:flex;
    align-items:center;
    gap: 40px;
    padding: 10px 0;
}
.bg-text{ 
    flex: 1;
 }
.bg-text h1{
    font-size:32px;
    margin: 0 0 10px 0;
}
.span_text{ 
    color:#1aa6b8; 
}
.bg-text p{ 
    color:#666; 
    line-height:1.6;
     max-width:560px;
 }



