*{ box-sizing: border-box; 
}
body{
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #fff;
    color: #222;
    
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.header{
    background: #ffffff;
    border-bottom: 1px solid #579194;
    padding: 14px 0;
    box-shadow: 0px 2px 6px rgba(154, 255, 255, 0.4);
    position: fixed;
    top: 0;          
    left: 0;
    width: 100%; 
    z-index: 1000;
}
.header-inner{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    
}