*{ box-sizing: border-box; 
}
body{
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #fff;
    color: #222;
    
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.header{
    background: #ffffff;
    border-bottom: 1px solid #579194;
    padding: 14px 0;
    box-shadow: 0px 2px 6px rgba(154, 255, 255, 0.4);
    position: fixed;
    top: 0;          
    left: 0;
    width: 100%; 
    z-index: 1000;
}
.header-inner{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    
}
.logo{
    display:flex;
    align-items:center;
    gap:8px;
    font-weight:700;
    color:#007c9e;
    
}
.main-nav a{
    margin-left:16px;
    text-decoration:none;
    color:#333;
    font-size:14px;
}
.header-icons span{ 
    margin-left:10px; 
    cursor:pointer;
   

 }
 .bg{
    background: linear-gradient(#ffffff, #fbfbfb);
    padding: 40px 0 80px 0;
    background-image: url("bg.png")  ;
    height: 700px;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}
.bg-inner{
    display:flex;
    align-items:center;
    gap: 40px;
    padding: 10px 0;
}
.bg-text{ 
    flex: 1;
 }
.bg-text h1{
    font-size:32px;
    margin: 0 0 10px 0;
}
.span_text{ 
    color:#1aa6b8; 
}
.bg-text p{ 
    color:#666; 
    line-height:1.6;
     max-width:560px;
 }

 
.btn{
    display:inline-block;
    padding:10px 18px;
    text-decoration:none;
    font-weight:600;
    margin-top:12px;
    cursor: pointer;
}
.btn.primary{
    background:#1aa6b8;
    color:white;
    border:2px  #128890;
}
.btn.outline{
    background:transparent; 
    border:2px solid #1aa6b8; 
    color:#1aa6b8;
}

.bg-image{ width:420px; 
    text-align:center; 
}
.bg-image img{ width:100%; 
    border-radius:6px; 
}
.features {
    display: flex;
    gap: 20px;
    margin: 25px;
    justify-content: space-between;
    border: none; 
    background: transparent; 
    justify-content: center;
    margin: 25px auto;
}

.feature {
    background: #fff;
    padding: 18px;
    flex: 1;
    text-align: center;
    border: 1px solid #80b8c4;
    box-shadow: 0 0 18px rgba(0, 150, 136, 0.35);
    border-radius: 4px;
}

