*{ box-sizing: border-box; 
}
body{
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #fff;
    color: #222;
    
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.header{
    background: #ffffff;
    border-bottom: 1px solid #579194;
    padding: 14px 0;
    box-shadow: 0px 2px 6px rgba(154, 255, 255, 0.4);
    position: fixed;
    top: 0;          
    left: 0;
    width: 100%; 
    z-index: 1000;
}
.header-inner{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    
}
.logo{
    display:flex;
    align-items:center;
    gap:8px;
    font-weight:700;
    color:#007c9e;
    
}
.main-nav a{
    margin-left:16px;
    text-decoration:none;
    color:#333;
    font-size:14px;
}
.header-icons span{ 
    margin-left:10px; 
    cursor:pointer;
   

 }
 .bg{
    background: linear-gradient(#ffffff, #fbfbfb);
    padding: 40px 0 80px 0;
    background-image: url("bg.png")  ;
    height: 700px;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}
.bg-inner{
    display:flex;
    align-items:center;
    gap: 40px;
    padding: 10px 0;
}
.bg-text{ 
    flex: 1;
 }
.bg-text h1{
    font-size:32px;
    margin: 0 0 10px 0;
}
.span_text{ 
    color:#1aa6b8; 
}
.bg-text p{ 
    color:#666; 
    line-height:1.6;
     max-width:560px;
 }

 
.btn{
    display:inline-block;
    padding:10px 18px;
    text-decoration:none;
    font-weight:600;
    margin-top:12px;
    cursor: pointer;
}
.btn.primary{
    background:#1aa6b8;
    color:white;
    border:2px  #128890;
}
.btn.outline{
    background:transparent; 
    border:2px solid #1aa6b8; 
    color:#1aa6b8;
}

.bg-image{ width:420px; 
    text-align:center; 
}
.bg-image img{ width:100%; 
    border-radius:6px; 
}
.features {
    display: flex;
    gap: 20px;
    margin: 25px;
    justify-content: space-between;
    border: none; 
    background: transparent; 
    justify-content: center;
    margin: 25px auto;
}

.feature {
    background: #fff;
    padding: 18px;
    flex: 1;
    text-align: center;
    border: 1px solid #80b8c4;
    box-shadow: 0 0 18px rgba(0, 150, 136, 0.35);
    border-radius: 4px;
}


.about {
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 40px;
}

.about-img, 
.about-text {
    width: 50%;
}

.about-img img {
    width: 100%;
}

.about-text {
    width: 40%;
}

.about-text h2 {
    font-size: 32px;
}

.about-text p {
    margin: 15px 0;
    line-height: 1.6;
}
.FIRST-learn-btn {
    background: #089da1;
    color: rgb(251, 249, 249);
    padding: 8px 20px;
    cursor: pointer;
    font-size: 15px;
    border: none;
}

.learn-btn {
    background: transparent;
    color: black;
    padding: 8px 20px;
    border: 2px solid #089da1;
    cursor: pointer;
    font-size: 15px;
    
}

.title {
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
}

.slider-container {
    position: relative;
    width: 100%;
    padding: 20px 0;
}

.books-slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    scroll-behavior: smooth;
    
}

.books-slider::-webkit-scrollbar {
    height: 5px;
    
}

.books-slider::-webkit-scrollbar-thumb {
    background: #089da1;
    border-radius: 10px;
}
.books-slider::-webkit-scrollbar-track {
    background: #e0e0e0; 
    
}

.book-card {
    min-width: 180px;
    border: 1px solid #b1adad;
    padding: 10px;
    text-align: center;
    

}
.book-writer{
    font-size: 13px;
    color: #a4a2a2;

}
.book-card:hover {
    box-shadow: 0 0 10px #089da1;
    transform: translateY(-3px);
    transition: 0.2s;
}

.book-card img {
    width: 70%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.book-card h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.type {
    font-size: 12px;
    color: #089da1;
}

.price {
    margin: 8px 0;
    font-size: 15px;
    font-weight: bold;
}

.price span {
    color: #777;
    text-decoration: line-through;
    font-size: 11px;
    margin-left: 5px;
}


.books-container {
    grid-template-columns: repeat(5, 200px);
  display: grid;
  row-gap: 30px;
  column-gap: 80px;
  margin: 0 auto;
  width: 90%; 
  justify-content: center;
  
}
.books-card {
  background: white;
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}
.books-card img:hover {
    transform: scale(1.1); 
}
.books-card:hover {
    box-shadow: 0 0 10px #4399a4;
   
}
.books-card img {
  width: 70%;
    height: 200px;
    object-fit: cover;
   margin-left: 25px;
 
   
}
.books-card h3 {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}




.stars {
  color: #00b3b3;
  font-size: 20px;
   margin-left: 45px;
   margin-bottom: 20px;
}
.learns-btn {
    background: transparent;
    color: black;
    padding: 8px 20px;
    border: 2px solid #089da1;
    cursor: pointer;
    font-size: 15px;
    margin-left: 25px;
    margin-bottom: 20px;
 
}


.title3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 300px;
  margin-left: 600px;
}



.reviews-container {
    display: flex;
    justify-content: center; 
    gap: 20px;
    flex-wrap: nowrap; 

    padding: 10px 0;
}

.review-card {
      margin-top: 100px;
    background-color: #fff;
    border: 2px solid #b2f0f7;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 280px;
    flex-shrink: 0; 
}


.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}


.review-card p {
    font-size: 10px;
    color: #555;
    line-height: 1.4em;
    margin-bottom: 10px;
      text-align: justify;
          margin-top: 20px;
}



